<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="/folder.png" type="image/png"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Microservicio: Metadatos de archivos</h1>

        <h2>Uso:</h2>
        <p>
          Sube un archivo...
        </p>
        <div class="view">
          <h3 id="output"></h3>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Subir">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          Por
          <a href="https://github.com/MiltonEmm008/file-metadata" target="_blank">Milton</a>
        </p>
      </div>
   </body>
</html>
